*{
    font-size: 20px;
}

body{
    margin: 0;
}

.cor-laranja{

    color:orange;
}

.cor-laranja:hover{

    color:rgba(242, 175, 5, 0.759);
    cursor: pointer;
}



h1, h2{
    
    color: blue;

}   
    
h1:hover{

    color: rgb(255, 17, 0);
    cursor: pointer;    
}

p{
 color: black;
}



.card img{
    width: 200px;
    height: 300px;
    border: 5px dotted red;
    margin: 10px 40px 20px 30px;
    padding: 20px;

}
