
h2, h1 {
    color:  rgb(255, 2, 2);
}

h1:hover{
    color: black;
    cursor: pointer;
}

p {
    color: #fff;


}

.color-star {
    color: yellow;
}

.color-star:hover{
    color: rgb(231, 153, 6);
}

.card img {
    width: 200px;
    height: 200px;
    
}


#title{
    background-color:rgb(34, 114, 34);
}